@import url('https://fonts.googleapis.com/css?family=Montserrat:500');


body {
    font-size: 2em;
    font-family: "Montserrat", sans-serif;
    background-color: #22242B; 
    color: white;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

h1 {
    font-size: 3.5em;
    text-align: center;
    margin-top: 25%;
}

h2 {
    font-size: 2.8em;
    text-align: center
    margin-left: 25%;
}

a {
    color: #38A8C5;
}
