@import url('https://fonts.googleapis.com/css?family=Montserrat:500');


body {
    font-size: 1.5em;
    font-family: "Montserrat", sans-serif;
    background-color: #22242B; 
    color: white;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
}

h1 {
    font-size: 3.5em;
    text-align: center;
    margin-top: 35%;
}

h2 {
    font-size: 2.5em;
    text-align: center;
}

a {
    color: #38A8C5;
}
