@import url('https://fonts.googleapis.com/css?family=Montserrat:500');


body {
    font-size: 1.3em;
    font-family: "Montserrat", sans-serif;
    background-color: #22242B; 
    color: white;
    text-align: justify;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 3.5em;
    text-align: center;
    margin-bootom: 1.5em;
}

h2 {
    font-size: 2.5em;
    text-align: left
    margin-left: 25%;
}

a {
    color: #38A8C5;
}
